fastapi==0.104.1
uvicorn==0.23.2
python-dotenv==1.0.0
httpx==0.25.1
pydantic==2.4.2
PyJWT==2.8.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.6
torch>=2.0.0
transformers>=4.39.0
accelerate>=0.27.2
bs4==0.0.1
sentencepiece>=0.1.99
dashscope>=1.14.0
